<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/style1.css">
<title>IH31-従業員側</title>
</head>
<body>
<div id="ID1920_Web__1">
	<svg class="_2">
		<rect id="_2" rx="0" ry="0" x="0" y="0" width="1920" height="79">
		</rect>
	</svg>
	<svg class="_3">
		<rect id="_3" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_4">
		<rect id="_4" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_5">
		<rect id="_5" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_6">
		<rect id="_6" rx="0" ry="0" x="0" y="0" width="250" height="999">
		</rect>
	</svg>
	<div id="_cc">
		<span>登録</span>
	</div>
	<div id="_w">
		<span>案件検索</span>
	</div>
	<div id="_ce">
		<span>変更・管理</span>
	</div>
	<img id="HALMOTOR_ce" src="./images/HALMOTOR_ce.png" srcset="./images/HALMOTOR_ce.png 1x, ./images/HALMOTOR_ce@2x.png 2x">
		
	<svg class="_7">
		<rect id="_7" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_cg">
		<span>登録一覧</span>
	</div>
	<svg class="_8">
		<rect id="_8" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_ci">
		<span>社員登録</span>
	</div>
	<svg class="_9">
		<rect id="_9" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_bb">
		<span>社員登録</span>
	</div>
	<div id="_1">
		<svg class="_10">
			<rect id="_10" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bc">
			<span>車両登録</span>
		</div>
	</div>
	<div id="_2_">
		<svg class="_10_">
			<rect id="_10_" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bd">
			<span>出品登録</span>
		</div>
	</div>
	<div id="_3_bb">
		<svg class="_10_bc">
			<rect id="_10_bc" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_be">
			<span>売上登録</span>
		</div>
	</div>
	<div id="_4_be">
		<svg class="_10_bf">
			<rect id="_10_bf" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bg">
			<span>案件登録</span>
		</div>
	</div>
	<div id="_5_bh">
		<svg class="_10_bi">
			<rect id="_10_bi" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bj">
			<span>オークション登録</span>
		</div>
	</div>
	<svg class="_11">
		<rect id="_11" rx="0" ry="0" x="0" y="0" width="5" height="32">
		</rect>
	</svg>
	<div id="_cx">
		<span>社員登録</span>
	</div>
	<svg class="_12">
		<rect id="_12" rx="0" ry="0" x="0" y="0" width="1192" height="310">
		</rect>
	</svg>
	<svg class="_13">
		<rect id="_13" rx="0" ry="0" x="0" y="0" width="254" height="310">
		</rect>
	</svg>
	<div id="_1_bo">
		<div id="_1_bo_0" class="">
			<svg class="_14_c">
				<rect id="_14_c" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_1_bo_1" class="">
			<svg class="_14_da">
				<rect id="_14_da" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_1_bo_2" class="">
			<svg class="_14_db">
				<rect id="_14_db" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_1_bo_3" class="">
			<svg class="_14_dc">
				<rect id="_14_dc" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
	</div>
	<div id="_c">
		<span>氏名</span>
	</div>
	<svg class="_1_by" viewBox="0 0 445 32">
		<path id="_1_by" d="M 0 0 L 6.83203125 0 L 445 0 L 445 32 L 0 32 L 0 0 Z">
		</path>
	</svg>
	<div id="_db">
		<span>パスワード</span>
	</div>
	<div id="_dc">
		<span>電話番号</span>
	</div>
	<svg class="_16">
		<rect id="_16" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<svg class="_17">
		<rect id="_17" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<div id="_df">
		<span>※ハイフン、スペースなしで入力する。</span>
	</div>
	<svg class="_18">
		<rect id="_18" rx="10" ry="10" x="0" y="0" width="227" height="71">
		</rect>
	</svg>
	<div id="_dh">
		<span>登録する</span>
	</div>
	<svg class="_19">
		<rect id="_19" rx="0" ry="0" x="0" y="0" width="1920" height="79">
		</rect>
	</svg>
	<svg class="_20">
		<rect id="_20" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_21">
		<rect onclick="application.goToTargetView(event)" id="_21" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_22">
		<rect onclick="application.goToTargetView(event)" id="_22" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_23">
		<rect id="_23" rx="0" ry="0" x="0" y="0" width="250" height="999">
		</rect>
	</svg>
	<div id="_cc">
		<span>登録</span>
	</div>
	<div id="_cd">
		<span>案件</span>
	</div>
	<div id="_ce">
		<span>変更・管理</span>
	</div>
	<img id="HALMOTOR_ce" src="./images/HALMOTOR_ce.png" srcset="./images/HALMOTOR_ce.png 1x, ./images/HALMOTOR_ce@2x.png 2x">
		
	<svg class="_24">
		<rect id="_24" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_cg">
		<span>登録一覧</span>
	</div>
	<svg class="_25">
		<rect id="_25" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_ci">
		<span>社員登録</span>
	</div>
	<svg class="_26">
		<rect id="_26" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_7_ck">
		<svg class="_10_cl">
			<rect id="_10_cl" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_cm">
			<span>出品登録</span>
		</div>
	</div>
	<div id="_8_cn">
		<svg class="_10_co">
			<rect id="_10_co" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_cp">
			<span>売上登録</span>
		</div>
	</div>
	<div id="_9_cq">
		<svg class="_10_cr">
			<rect id="_10_cr" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_cs">
			<span>案件登録</span>
		</div>
	</div>
	<div id="_10_ct">
		<svg class="_10_cu">
			<rect id="_10_cu" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_cv">
			<span>オークション登録</span>
		</div>
	</div>
	<svg class="_27">
		<rect id="_27" rx="0" ry="0" x="0" y="0" width="5" height="32">
		</rect>
	</svg>
	<div id="_cx">
		<span>社員登録</span>
	</div>
	<svg class="_28">
		<rect id="_28" rx="0" ry="0" x="0" y="0" width="1192" height="310">
		</rect>
	</svg>
	<svg class="_29">
		<rect id="_29" rx="0" ry="0" x="0" y="0" width="254" height="310">
		</rect>
	</svg>
	<div id="_2_c">
		<div id="_2_c_0" class="">
			<svg class="_14_c">
				<rect id="_14_c" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_2_c_1" class="">
			<svg class="_14_da">
				<rect id="_14_da" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_2_c_2" class="">
			<svg class="_14_db">
				<rect id="_14_db" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_2_c_3" class="">
			<svg class="_14_dc">
				<rect id="_14_dc" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
	</div>
	<div id="_c">
		<span>氏名</span>
	</div>
	<svg class="_2_da" viewBox="0 0 445 32">
		<path id="_2_da" d="M 0 0 L 6.83203125 0 L 445 0 L 445 32 L 0 32 L 0 0 Z">
		</path>
	</svg>
	<div id="_db">
		<span>パスワード</span>
	</div>
	<div id="_dc">
		<span>電話番号</span>
	</div>
	<svg class="_30">
		<rect id="_30" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<svg class="_31">
		<rect id="_31" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<div id="_df">
		<span>※ハイフン、スペースなしで入力する。</span>
	</div>
	<svg class="_32">
		<rect id="_32" rx="10" ry="10" x="0" y="0" width="227" height="71">
		</rect>
	</svg>
	<div id="_dh">
		<span>登録する</span>
	</div>
	<svg class="_33">
		<rect id="_33" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<div id="_dj">
		<span>ログアウト</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="_11_dk">
		<svg class="_10_dl">
			<rect id="_10_dl" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_dm">
			<span>車両登録</span>
		</div>
	</div>
	<svg class="_34">
		<rect id="_34" rx="0" ry="0" x="0" y="0" width="1192" height="6">
		</rect>
	</svg>
</div>
</body>
</html>