	.mediaViewInfo {
		--web-view-name: 1920 Web – 2;
		--web-view-id: ID1920_Web__2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: ID1920_Web__2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ID1920_Web__2 {
		position: absolute;
		width: 1920px;
		height: 1232px;
		background-color: rgba(247,247,247,1);
		overflow: hidden;
		--web-view-name: 1920 Web – 2;
		--web-view-id: ID1920_Web__2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#_2 {
		fill: rgba(234,234,234,1);
	}
	._2 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1938px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#_3 {
		fill: rgba(64,154,123,1);
	}
	._3 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 250px;
		top: 0px;
	}
	#_4 {
		fill: rgba(234,234,234,1);
	}
	._4 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 501px;
		top: 0px;
	}
	#_5 {
		fill: rgba(234,234,234,1);
	}
	._5 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 752px;
		top: 0px;
	}
	#_6 {
		fill: rgba(255,255,255,1);
	}
	._6 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 999px;
		left: 0px;
		top: 79px;
	}
	# {
		left: 351px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#_w {
		left: 577px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(98,98,98,1);
	}
	#_cb {
		left: 815px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(98,98,98,1);
	}
	#HALMOTOR_b {
		position: absolute;
		width: 155px;
		height: 18px;
		left: 48px;
		top: 31px;
		overflow: visible;
	}
	#_7 {
		fill: rgba(87,87,87,1);
	}
	._7 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 79px;
	}
	#_ {
		left: 38px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#_8 {
		fill: rgba(131,211,183,1);
	}
	._8 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 142px;
	}
	#_ba {
		left: 38px;
		top: 164px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#_9 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._9 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 205px;
	}
	#_bb {
		left: 38px;
		top: 227px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(110,110,110,1);
	}
	#_1 {
		position: absolute;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 205px;
		overflow: visible;
	}
	#_10 {
		fill: rgba(255,255,255,1);
	}
	._10 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 0px;
	}
	#_bc {
		left: 38px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(110,110,110,1);
	}
	#_2_ {
		position: absolute;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 268px;
		overflow: visible;
	}
	#_10_ {
		fill: rgba(255,255,255,1);
	}
	._10_ {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 0px;
	}
	#_bd {
		left: 38px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(110,110,110,1);
	}
	#_3_bb {
		position: absolute;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 331px;
		overflow: visible;
	}
	#_10_bc {
		fill: rgba(255,255,255,1);
	}
	._10_bc {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 0px;
	}
	#_be {
		left: 38px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(110,110,110,1);
	}
	#_4_be {
		position: absolute;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 394px;
		overflow: visible;
	}
	#_10_bf {
		fill: rgba(255,255,255,1);
	}
	._10_bf {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 0px;
	}
	#_bg {
		left: 38px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(110,110,110,1);
	}
	#_5_bh {
		position: absolute;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 457px;
		overflow: visible;
	}
	#_10_bi {
		fill: rgba(255,255,255,1);
	}
	._10_bi {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 0px;
	}
	#_bj {
		left: 38px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 161px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(110,110,110,1);
	}
	#_11 {
		fill: rgba(131,211,183,1);
	}
	._11 {
		position: absolute;
		overflow: visible;
		width: 5px;
		height: 32px;
		left: 340px;
		top: 164px;
	}
	#_bl {
		left: 363px;
		top: 172px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_12 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._12 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1210px;
		height: 226px;
		left: 339px;
		top: 255px;
	}
	#_13 {
		fill: rgba(234,234,234,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._13 {
		position: absolute;
		overflow: visible;
		width: 254px;
		height: 208px;
		left: 339px;
		top: 255px;
	}
	#_1_bo {
		position: absolute;
		width: 1192px;
		height: 208px;
		left: 339px;
		top: 255px;
		overflow: hidden;
	}
	#_1_bo_0 {
		position: absolute;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_14_cg {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14_cg {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
	}
	#_1_bo_1 {
		position: absolute;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 103px;
		overflow: visible;
	}
	#_14_ci {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14_ci {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
	}
	#_1_bo_2 {
		position: absolute;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 206px;
		overflow: visible;
	}
	#_14_ck {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14_ck {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
	}
	#_bv {
		left: 435px;
		top: 296px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_1_bw {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._1_bw {
		overflow: visible;
		position: absolute;
		width: 445px;
		height: 32px;
		left: 628px;
		top: 290px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_bx {
		left: 405px;
		top: 402px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_16 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._16 {
		position: absolute;
		overflow: visible;
		width: 445px;
		height: 32px;
		left: 628px;
		top: 394px;
	}
	#_bz {
		left: 863px;
		top: 613px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#_19 {
		fill: rgba(234,234,234,1);
	}
	._19 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1938px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#_20 {
		fill: rgba(234,234,234,1);
	}
	._20 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 250px;
		top: 0px;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: 1920_Web___1.html;
		cursor: pointer;
	}
	#_21 {
		fill: rgba(66,163,130,1);
	}
	._21 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 501px;
		top: 0px;
	}
	#_22 {
		fill: rgba(234,234,234,1);
	}
	._22 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 752px;
		top: 0px;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: 1920_Web___3.html;
		cursor: pointer;
	}
	#_23 {
		fill: rgba(255,255,255,1);
	}
	._23 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 1153px;
		left: 0px;
		top: 79px;
	}
	#_b {
		left: 351px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(98,98,98,1);
	}
	#_ca {
		left: 602px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#_cb {
		left: 815px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(98,98,98,1);
	}
	#HALMOTOR_b {
		position: absolute;
		width: 155px;
		height: 18px;
		left: 48px;
		top: 31px;
		overflow: visible;
	}
	#_24 {
		fill: rgba(87,87,87,1);
	}
	._24 {
		position: absolute;
		overflow: visible;
		width: 250px;
		height: 63px;
		left: 0px;
		top: 79px;
	}
	#_cc {
		left: 38px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#_27 {
		fill: rgba(131,211,183,1);
	}
	._27 {
		position: absolute;
		overflow: visible;
		width: 5px;
		height: 32px;
		left: 340px;
		top: 164px;
	}
	#_28 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._28 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1210px;
		height: 226px;
		left: 339px;
		top: 255px;
	}
	#_29 {
		fill: rgba(234,234,234,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._29 {
		position: absolute;
		overflow: visible;
		width: 254px;
		height: 208px;
		left: 339px;
		top: 255px;
	}
	#_2_ce {
		position: absolute;
		width: 1192px;
		height: 208px;
		left: 339px;
		top: 255px;
		overflow: hidden;
	}
	#_2_ce_0 {
		position: absolute;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_14_cg {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14_cg {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
	}
	#_2_ce_1 {
		position: absolute;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 103px;
		overflow: visible;
	}
	#_14_ci {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14_ci {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
	}
	#_2_ce_2 {
		position: absolute;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 206px;
		overflow: visible;
	}
	#_14_ck {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14_ck {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 104px;
		left: 0px;
		top: 0px;
	}
	#_30 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._30 {
		position: absolute;
		overflow: visible;
		width: 445px;
		height: 32px;
		left: 628px;
		top: 394px;
	}
	#_32 {
		fill: rgba(66,163,130,1);
	}
	._32 {
		position: absolute;
		overflow: visible;
		width: 227px;
		height: 71px;
		left: 789px;
		top: 522px;
	}
	#_cn {
		left: 863px;
		top: 548px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#_33 {
		fill: rgba(118,118,118,1);
	}
	._33 {
		position: absolute;
		overflow: visible;
		width: 251px;
		height: 79px;
		left: 1669px;
		top: 0px;
	}
	#_cp {
		left: 1732px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#_34 {
		fill: rgba(66,163,130,1);
	}
	._34 {
		position: absolute;
		overflow: visible;
		width: 1192px;
		height: 6px;
		left: 339px;
		top: 255px;
	}
	#_38 {
		fill: rgba(131,211,183,1);
	}
	._38 {
		position: absolute;
		overflow: visible;
		width: 5px;
		height: 32px;
		left: 336px;
		top: 722px;
	}
	#_cs {
		left: 356px;
		top: 730px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_43 {
		fill: rgba(131,211,183,1);
	}
	._43 {
		position: absolute;
		overflow: visible;
		width: 5px;
		height: 32px;
		left: 336px;
		top: 722px;
	}
	#_49 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._49 {
		position: absolute;
		overflow: visible;
		width: 986px;
		height: 283px;
		left: 336px;
		top: 791px;
	}
	#_50 {
		fill: rgba(234,234,234,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._50 {
		position: absolute;
		overflow: visible;
		width: 986px;
		height: 45px;
		left: 336px;
		top: 791px;
	}
	#_4_cw {
		position: absolute;
		width: 198px;
		height: 287px;
		left: 336px;
		top: 791px;
		overflow: hidden;
	}
	#_4_cw_0 {
		position: absolute;
		width: 198px;
		height: 465px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#_51 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._51 {
		position: absolute;
		overflow: visible;
		width: 198px;
		height: 465px;
		left: 0px;
		top: 0px;
	}
	#_52 {
		fill: rgba(244,244,244,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._52 {
		position: absolute;
		overflow: visible;
		width: 986px;
		height: 61px;
		left: 336px;
		top: 836px;
	}
	#_53 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._53 {
		position: absolute;
		overflow: visible;
		width: 986px;
		height: 61px;
		left: 336px;
		top: 955px;
	}
	#_51_c {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._51_c {
		position: absolute;
		overflow: visible;
		width: 198px;
		height: 285px;
		left: 533px;
		top: 791px;
	}
	#_51_da {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._51_da {
		position: absolute;
		overflow: visible;
		width: 198px;
		height: 285px;
		left: 730px;
		top: 791px;
	}
	#_4_c {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._4_c {
		overflow: visible;
		position: absolute;
		width: 198px;
		height: 285px;
		left: 927px;
		top: 791px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_51_db {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._51_db {
		position: absolute;
		overflow: visible;
		width: 198px;
		height: 285px;
		left: 1124px;
		top: 791px;
	}
	#_c {
		left: 387px;
		top: 804px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_da {
		left: 779px;
		top: 804px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_db {
		left: 1203px;
		top: 803px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_dc {
		left: 996px;
		top: 804px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_dd {
		left: 597px;
		top: 803px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_48 {
		fill: rgba(66,163,130,1);
	}
	._48 {
		position: absolute;
		overflow: visible;
		width: 986px;
		height: 6px;
		left: 336px;
		top: 785px;
	}
	#_de {
		left: 415px;
		top: 402px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_13_dc {
		position: absolute;
		width: 352px;
		height: 24px;
		left: 602px;
		top: 219px;
		overflow: visible;
	}
	#_1_dd {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._1_dd {
		position: absolute;
		overflow: visible;
		width: 22px;
		height: 22px;
		left: 0px;
		top: 0px;
	}
	#_df {
		left: 30px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_16_df {
		position: absolute;
		width: 88px;
		height: 22px;
		left: 146px;
		top: 0px;
		overflow: visible;
	}
	#_2_dg {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._2_dg {
		position: absolute;
		overflow: visible;
		width: 22px;
		height: 22px;
		left: 0px;
		top: 0px;
	}
	#_dh {
		left: 48px;
		top: 1px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_17 {
		position: absolute;
		width: 88px;
		height: 22px;
		left: 264px;
		top: 2px;
		overflow: visible;
	}
	#_2_dj {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._2_dj {
		position: absolute;
		overflow: visible;
		width: 22px;
		height: 22px;
		left: 0px;
		top: 0px;
	}
	#_dk {
		left: 48px;
		top: 1px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_dl {
		left: 415px;
		top: 306px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Hiragino Kaku Gothic ProN;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(87,87,87,1);
	}
	#_31 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._31 {
		position: absolute;
		overflow: visible;
		width: 445px;
		height: 32px;
		left: 630px;
		top: 294px;
	}
	#_54 {
		fill: rgba(66,163,130,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._54 {
		position: absolute;
		overflow: visible;
		width: 43px;
		height: 32px;
		left: 1032px;
		top: 294px;
	}
	#_5_do {
		fill: rgba(222,222,222,1);
	}
	._5_do {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 9px;
		left: 1046px;
		top: 298px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_6_dp {
		fill: rgba(222,222,222,1);
	}
	._6_dp {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 9px;
		transform: matrix(1,0,0,1,1046,313) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}