<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/style2.css">
<title>IH31-従業員側</title>
</head>
<body>
<div id="ID1920_Web__2">
	<svg class="_2">
		<rect id="_2" rx="0" ry="0" x="0" y="0" width="1920" height="79">
		</rect>
	</svg>
	<svg class="_3">
		<rect id="_3" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_4">
		<rect id="_4" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_5">
		<rect id="_5" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_6">
		<rect id="_6" rx="0" ry="0" x="0" y="0" width="250" height="999">
		</rect>
	</svg>
	<div id="">
		<span>登録</span>
	</div>
	<div id="_w">
		<span>案件検索</span>
	</div>
	<div id="_cb">
		<span>変更・管理</span>
	</div>
	<img id="HALMOTOR_b" src="HALMOTOR_b.png" srcset="HALMOTOR_b.png 1x, HALMOTOR_b@2x.png 2x">
		
	<svg class="_7">
		<rect id="_7" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_">
		<span>登録一覧</span>
	</div>
	<svg class="_8">
		<rect id="_8" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_ba">
		<span>社員登録</span>
	</div>
	<svg class="_9">
		<rect id="_9" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_bb">
		<span>社員登録</span>
	</div>
	<div id="_1">
		<svg class="_10">
			<rect id="_10" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bc">
			<span>車両登録</span>
		</div>
	</div>
	<div id="_2_">
		<svg class="_10_">
			<rect id="_10_" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bd">
			<span>出品登録</span>
		</div>
	</div>
	<div id="_3_bb">
		<svg class="_10_bc">
			<rect id="_10_bc" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_be">
			<span>売上登録</span>
		</div>
	</div>
	<div id="_4_be">
		<svg class="_10_bf">
			<rect id="_10_bf" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bg">
			<span>案件登録</span>
		</div>
	</div>
	<div id="_5_bh">
		<svg class="_10_bi">
			<rect id="_10_bi" rx="0" ry="0" x="0" y="0" width="250" height="63">
			</rect>
		</svg>
		<div id="_bj">
			<span>オークション登録</span>
		</div>
	</div>
	<svg class="_11">
		<rect id="_11" rx="0" ry="0" x="0" y="0" width="5" height="32">
		</rect>
	</svg>
	<div id="_bl">
		<span>案件一覧検索</span>
	</div>
	<svg class="_12">
		<rect id="_12" rx="0" ry="0" x="0" y="0" width="1192" height="208">
		</rect>
	</svg>
	<svg class="_13">
		<rect id="_13" rx="0" ry="0" x="0" y="0" width="254" height="208">
		</rect>
	</svg>
	<div id="_1_bo">
		<div id="_1_bo_0" class="">
			<svg class="_14_cg">
				<rect id="_14_cg" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_1_bo_1" class="">
			<svg class="_14_ci">
				<rect id="_14_ci" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_1_bo_2" class="">
			<svg class="_14_ck">
				<rect id="_14_ck" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
	</div>
	<div id="_bv">
		<span>氏名</span>
	</div>
	<svg class="_1_bw" viewBox="0 0 445 32">
		<path id="_1_bw" d="M 0 0 L 6.83203125 0 L 445 0 L 445 32 L 0 32 L 0 0 Z">
		</path>
	</svg>
	<div id="_bx">
		<span>パスワード</span>
	</div>
	<svg class="_16">
		<rect id="_16" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<div id="_bz">
		<span>登録する</span>
	</div>
	<svg class="_19">
		<rect id="_19" rx="0" ry="0" x="0" y="0" width="1920" height="79">
		</rect>
	</svg>
	<svg class="_20">
		<rect onclick="application.goToTargetView(event)" id="_20" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_21">
		<rect id="_21" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_22">
		<rect onclick="application.goToTargetView(event)" id="_22" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<svg class="_23">
		<rect id="_23" rx="0" ry="0" x="0" y="0" width="250" height="1153">
		</rect>
	</svg>
	<div id="_b">
		<span>登録</span>
	</div>
	<div id="_ca">
		<span>案件</span>
	</div>
	<div id="_cb">
		<span>変更・管理</span>
	</div>
	<img id="HALMOTOR_b" src="HALMOTOR_b.png" srcset="HALMOTOR_b.png 1x, HALMOTOR_b@2x.png 2x">
		
	<svg class="_24">
		<rect id="_24" rx="0" ry="0" x="0" y="0" width="250" height="63">
		</rect>
	</svg>
	<div id="_cc">
		<span>案件一覧</span>
	</div>
	<svg class="_27">
		<rect id="_27" rx="0" ry="0" x="0" y="0" width="5" height="32">
		</rect>
	</svg>
	<svg class="_28">
		<rect id="_28" rx="0" ry="0" x="0" y="0" width="1192" height="208">
		</rect>
	</svg>
	<svg class="_29">
		<rect id="_29" rx="0" ry="0" x="0" y="0" width="254" height="208">
		</rect>
	</svg>
	<div id="_2_ce">
		<div id="_2_ce_0" class="">
			<svg class="_14_cg">
				<rect id="_14_cg" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_2_ce_1" class="">
			<svg class="_14_ci">
				<rect id="_14_ci" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
		<div id="_2_ce_2" class="">
			<svg class="_14_ck">
				<rect id="_14_ck" rx="0" ry="0" x="0" y="0" width="1192" height="104">
				</rect>
			</svg>
		</div>
	</div>
	<svg class="_30">
		<rect id="_30" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<svg class="_32">
		<rect id="_32" rx="10" ry="10" x="0" y="0" width="227" height="71">
		</rect>
	</svg>
	<div id="_cn">
		<span>検索する</span>
	</div>
	<svg class="_33">
		<rect id="_33" rx="0" ry="0" x="0" y="0" width="251" height="79">
		</rect>
	</svg>
	<div id="_cp">
		<span>ログアウト</span>
	</div>
	<svg class="_34">
		<rect id="_34" rx="0" ry="0" x="0" y="0" width="1192" height="6">
		</rect>
	</svg>
	<svg class="_38">
		<rect id="_38" rx="0" ry="0" x="0" y="0" width="5" height="32">
		</rect>
	</svg>
	<div id="_cs">
		<span>案件情報一覧</span>
	</div>
	<svg class="_43">
		<rect id="_43" rx="0" ry="0" x="0" y="0" width="5" height="32">
		</rect>
	</svg>
	<svg class="_49">
		<rect id="_49" rx="0" ry="0" x="0" y="0" width="986" height="283">
		</rect>
	</svg>
	<svg class="_50">
		<rect id="_50" rx="0" ry="0" x="0" y="0" width="986" height="45">
		</rect>
	</svg>
	<div id="_4_cw">
		<div id="_4_cw_0" class="">
			<svg class="_51">
				<rect id="_51" rx="0" ry="0" x="0" y="0" width="198" height="465">
				</rect>
			</svg>
		</div>
	</div>
	<svg class="_52">
		<rect id="_52" rx="0" ry="0" x="0" y="0" width="986" height="61">
		</rect>
	</svg>
	<svg class="_53">
		<rect id="_53" rx="0" ry="0" x="0" y="0" width="986" height="61">
		</rect>
	</svg>
	<svg class="_51_c">
		<rect id="_51_c" rx="0" ry="0" x="0" y="0" width="198" height="285">
		</rect>
	</svg>
	<svg class="_51_da">
		<rect id="_51_da" rx="0" ry="0" x="0" y="0" width="198" height="285">
		</rect>
	</svg>
	<svg class="_4_c" viewBox="0 0 198 285">
		<path id="_4_c" d="M 0 0 L 198 0 L 198 285 L 0.616943359375 285 L 0 0 Z">
		</path>
	</svg>
	<svg class="_51_db">
		<rect id="_51_db" rx="0" ry="0" x="0" y="0" width="198" height="285">
		</rect>
	</svg>
	<div id="_c">
		<span>担当者名</span>
	</div>
	<div id="_da">
		<span>車両番号</span>
	</div>
	<div id="_db">
		<span>状態</span>
	</div>
	<div id="_dc">
		<span>車種名</span>
	</div>
	<div id="_dd">
		<span>顧客名</span>
	</div>
	<svg class="_48">
		<rect id="_48" rx="0" ry="0" x="0" y="0" width="986" height="6">
		</rect>
	</svg>
	<div id="_de">
		<span>担当者名</span>
	</div>
	<div id="_13_dc">
		<svg class="_1_dd">
			<ellipse id="_1_dd" rx="11" ry="11" cx="11" cy="11">
			</ellipse>
		</svg>
		<div id="_df">
			<span>キャンセル</span>
		</div>
		<div id="_16_df">
			<svg class="_2_dg">
				<ellipse id="_2_dg" rx="11" ry="11" cx="11" cy="11">
				</ellipse>
			</svg>
			<div id="_dh">
				<span>検索</span>
			</div>
		</div>
		<div id="_17">
			<svg class="_2_dj">
				<ellipse id="_2_dj" rx="11" ry="11" cx="11" cy="11">
				</ellipse>
			</svg>
			<div id="_dk">
				<span>督促</span>
			</div>
		</div>
	</div>
	<div id="_dl">
		<span>案件状況</span>
	</div>
	<svg class="_31">
		<rect id="_31" rx="0" ry="0" x="0" y="0" width="445" height="32">
		</rect>
	</svg>
	<svg class="_54">
		<rect id="_54" rx="0" ry="0" x="0" y="0" width="43" height="32">
		</rect>
	</svg>
	<svg class="_5_do" viewBox="0 0 16 9">
		<path id="_5_do" d="M 7.999999046325684 0 L 15.99999904632568 9 L 0 9 Z">
		</path>
	</svg>
	<svg class="_6_dp" viewBox="0 0 16 9">
		<path id="_6_dp" d="M 7.999999046325684 0 L 15.99999904632568 9 L 0 9 Z">
		</path>
	</svg>
</div>
</body>
</html>